{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
  <br>
  <div class="white_txt container">
    <h1 class="titreonglet">Mon compte</h1>
    <br><br>
    <div align="center">
      <p> Bonjour {{ app.user.firstname }} !</p>
    	<p style="font-weight: bold;"> Bienvenue sur votre espace personnel, vous pouvez modifier votre mot de passe ainsi que vos données personnelles.</p></br>
    </div>
    <div align="center" class="row">
    	<div class="col-12">
      		<a href="{{path('account_data')}}"><button class="btn btn-primary btn-info">modifier mes infos personnels</button></a>
  		</div>
      <br><br>
		  <div class="col-12">
    		<a href="{{path('account_password')}}"><button class="btn btn-primary btn-info">modifier votre mot de passe</button></a>
  		</div>
	</div>
  

{# 

<p>
  Bienvenue {{ app.user.firstname }} {{ app.user.lastname }} ! <br>
  Role  : {{ app.user.roles[0] }} <br>
  Email : {{ app.user.email }} <br><br>
</p>

concert
compte => modif champs
accueil => concerts a venir : OK
crud fonctionnel su chaque entité
footer : OK
clic sur le nom groupe => liste membres + prochains concerts : OK 
log => bonjour + nom
page avec concerts passés
upload image = groupes
pagination page d'acceuil


<br><br>

Essayer easy admin #}

</div>
{% endblock %}