{% extends 'base.html.twig' %}

{% block body %}
  <div class="white_txt container">
    {% if notification %}
      <div class="alert alert-warning">
        {{ notification }}
      </div>
    {% else %}
    {% endif %}
    {{ form(form) }}
  </div>
{% endblock %}