{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
  <div class="white_txt container">
    <form method="post">
      {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      {% if app.user %}
        <div class="mb-3">
          Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
      {% endif %}

      <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
      <label for="inputEmail">Votre email</label>
      <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Votre email" required autofocus>
      <label for="inputPassword">Votre mot de passe</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Votre mot de passe" required>

      <input type="hidden" name="_csrf_token"
          value="{{ csrf_token('authenticate') }}"
      >

      {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" name="_remember_me"> Remember me
          </label>
        </div>
      #}

      <br>
      <button class="btn btn-lg btn-primary" type="submit">
        Se connecter
      </button>
    </form>
  </div>
{% endblock %}
