/* ===============
base.html.twig
=============== */
body {
    min-height: 100vh;
    /*background-color: #BDF6EC !important;*/
    background-image:url(../images/fond.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment:fixed;
    color:#000;
}
#header {
    display: flex;
    justify-content: space-between;
}

.white_txt{
    color:white;
}
/* Navigation */
.navbar {
    text-align: center;
    padding: 1% 0%;
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.navbar ul li {
    list-style: none;
    margin: 0 20px;
    transition: 0.5s;
}
.navbar ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    text-transform: uppercase;
    transition: 0.5s;
}
.navbar ul:hover li a {
    opacity: 0.2;
    filter: blur(5px);
}
.navbar ul li a:hover {
    opacity: 1;
    filter: blur(0);
    text-decoration: none;
    color: #fff;
}

/* Fin Navigation */
/* ===============
Fin base.html.twig
=============== */

/* ===============
concert/index.html.twig
=============== */

/* ===============
Fin concert/index.html.twig
=============== */

/* ===============
band/index.html.twig
=============== */
.bandsaccueil {
    columns: 5;
    width: 90%;
    margin: 0 auto;
}
.cliquable {
    margin: 1.5rem;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}
.cliquable:hover {
    transform: scale3d(1.1,1.1,1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.descriptionband {
    background-color: coral;
}
.nomband {
    font-weight: 900;
    color: white;
}
.nomband:hover {
    color: #AEF5F0;
    text-decoration: none;
}
/* ===============
Fin band/index.html.twig
=============== */

/* ===============
account/index.html.twig
=============== */
.titreonglet {
    text-align: center;
    color: coral;
}
/* ===============
Fin account/index.html.twig
=============== */

.btn-info{
    width:30%;
}