{% extends 'base.html.twig' %}

{% block body %}
  <div class="white_txt container">
    <h1 class="text-center">
      {{ band.name }}
    </h1>
  </div>

  {{ band.id }}

  <div class="white_txt container">
  		<div class="row">
		  <h3 align="left">Membre(s) :</h3>

		  {% for member in band.members %}
		  	<div align="center" class="col-12">
		  		<div class="col-6">
			  		<div style="background-color:black;">
					    <h4>{{ member.firstname }} {{ member.name }}</h4>
					    	<img class="rounded" width="400px" src="{{asset('images/' ~ member.image)}}" alt="Image Groupe">
				    	<figcaption>
					    	Métier : {{ member.job }}<br>
					    	{% if member.birthdate != null %}
						        Date de naissance : {{ member.birthdate | date('d/m/Y') }}
					        {% else %}
					        	Date de naissance : Inconnue
						   	{% endif %}
				    	</figcaption>
		    		</div>
		    	</div>
	    	<div>
	    	<br><br>
		  {% endfor %}
		  <h3 align="left">Prochains Concerts :</h3>

		  {% if shows|length > 0 %}
			  {% for show in shows %}
			  	<div align="center" class="col-12">
			  		<div class="col-6" style="background-color:black;">
					    <h4>{{show.tourName}}</h4>
				    	<figcaption>
					    	Date : {{ show.date | date('d/m/Y') }} à {{ show.date | date('H:i') }}<br>
					    	Lieu : {{ show.hall.concertHall.name }}<br>
				    	</figcaption>
		    		</div>
		    	<div>
		    	<br><br>
			  {% endfor %}

		  {% else %}

		  	<div align="center" class="col-12">
		  		<div class="col-6" style="background-color:black;">
				    <br><h4>Aucun concert à venir...</h4><br>
	    		</div>
	    	<div>
	    	<br><br>

		  {% endif %}

		<div>
  </div>
  <br><br>
{% endblock %}