{% extends 'base.html.twig' %}

{% block title %}Groupes{% endblock %}

{% block body %}
<br>
<h1 class="titreonglet">Groupes</h1>
  <div class="container">
    <div class="row justify-content-around">
      {% for band in bands %}
        <div align="center" class="cliquable col-4">
          <a href="{{path('band_detail', {'id':band.id})}}">
            <img src="{{asset('images/' ~ band.image)}}" alt="Image Groupe" class="w-100">
          </a>
          <div class="descriptionband">
              <a href="{{path('band_detail', {'id':band.id})}}" class="nomband">
                {{ band.name }} >
              </a>
            {% for styles in band.styles %}
              {{ styles.name }}
            {% endfor %}
          </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
