{% extends 'base.html.twig' %}

{% block body %}
{{dump(shows)}}
  <div class="container">
    <p class="text-center">
      Texte<br>
      <a href="{{path("index")}}">Accéder à l'index</a>  
    </p>
  </div>
{% endblock %}