{% extends 'base.html.twig' %}

{% block title %}
  {% if old==true %}
    Concerts passés
  {% else %}
    Concerts
  {% endif %}
{% endblock %}

{% block body %}
<br>
<h1 class="titreonglet">
  {% if old==true %}
    Concerts passés
  {% else %}
    Concerts
  {% endif %}
</h1>

  <div class="container">
    <div class="row justify-content-around">
      {% for show in shows %}
        <div align="center" class="cliquable col-4">
          <a href="{{path('band_detail', {'id':show.band.id})}}">
            <img src="{{asset('images/' ~ show.band.image)}}" alt="Image Groupe" class="w-100">
          </a>
          <div class="descriptionband">
              <figcaption>
                Date : {{ show.date | date('d/m/Y') }}<br>
                Heure : {{ show.date | date('H:i') }}<br>
                Artiste : {{ show.band }}<br>
                Tournée : {{ show.tourName }}<br>
                Lieu : {{ show.hall.concertHall.name }}<br>
                Salle : {{ show.hall.name }}
              </figcaption>
          </div>
      </div>
    {% endfor %}
  </div>
  <br><br>

{% endblock %}