<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}ConcertProject{% endblock %}</title>
    {% block stylesheets %}
      <link rel="stylesheet" href="{{asset('css/style.css')}}">
      <link rel="stylesheet" href="{{asset('css/fontawesome-free-5.15.1-web/css/all.css')}}">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  </head>
  <body>
    <div id="header"><br><br>
      <nav class="navbar white_txt">
        <ul>
          <li>
            <a class="white_txt" href="{{path('index')}}">
              Concerts à venir
            </a>
          </li>
          <li>
            <a class="white_txt" href="{{path('old_show')}}">
              Concerts passés
            </a>
          </li>
          <li>
            <a class="white_txt" href="{{path('band')}}">
              Groupes
            </a>
          </li>
          <li>
            <a class="white_txt" href="{{ path('hall')}}">
              Salles
            </a>
          </li>
          {% if app.user %}
            <li>
              <a class="white_txt"href="{{path('account')}}">
                Bonjour {{ app.user.firstname }}
              </a>
            </li>
            <li>
              <a class="white_txt" href="{{path('app_logout')}}">
                Déconnexion
              </a>
            </li>
          {% else %}
            <li>
              <a class="white_txt" href="{{path('register')}}">
                Inscription
              </a>
            </li>
            <li>
              <a class="white_txt" href="{{path('app_login')}}">
                Connexion
              </a>
            </li>
          {% endif %}
          {% if is_granted('ROLE_ADMIN') == true %}
          <li>
              <a class="white_txt" href="{{path('admin')}}">
                CRUD
              </a>
          </li>
          {% endif %}
        </ul>
      </nav>
       <div>
      </div>
    </div>
    {% block body %}
    
    {% endblock %}
    {% block javascripts %}
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>
