{% extends 'base.html.twig' %}

{% block title %}{{concertHall.name}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="white_txt example-wrapper">
	<div class="container" style="background-color:black;">
	<br>
	<img src="{{asset('images/' ~ concertHall.image)}}" alt="Image Groupe" class="w-100">
		<div class="rows">
			<div align="center">
				Nom : {{concertHall.name}}<br>
			    Ville : {{concertHall.city}}<br>
			    Places : {{concertHall.totalplaces}}<br>
			    Présentation : {{concertHall.presentation}}<br>
			</div>
		</div>
		<div class="row">
			{% for hall in halls %}
			<div align="center" class="col-12"><br>
				{{hall.name}}<br>
				Places : {{hall.capacity}}<br>
				{% if hall.available == true %}
					Disponible : Oui
				{% else %}
					Disponible : Non
				{% endif %}
			</div>
			{% endfor %}
		</div>
		<br>
	</div>
</div>

<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    {{ concertHall.adresse }}, {{ concertHall.city }}
  </div>
</footer>
{% endblock %}