{% extends 'base.html.twig' %}

{% block title %}Salles{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<br>
<h1 class="titreonglet">Salles</h1>

<div class="white_txt example-wrapper">
    {% for concertHall in concertHalls %}
		<div class="white_txt container cliquable" style="background-color:black;"><br>
			<a href="{{path('hall_detail', {'id':concertHall.id})}}">
				<img src="{{asset('images/' ~ concertHall.image)}}" alt="Image Groupe" class="w-100">
			</a>
			<div class="row justify-content-around">
				<div align="center">
					{{ concertHall.name }}<br>
					Ville : {{ concertHall.city }}<br>
					Places : {{ concertHall.totalplaces }}<br>
				</div>
			</div>
		</div>
		<br><br>
    {% endfor %}
</div>
{% endblock %}
